<header class="header">
  <h1 class="header-title">MeiliSearch + Angular InstantSearch</h1>
  <p class="header-subtitle">Search in Steam video games 🎮</p>

</header>

<div class="container">
  <ais-instantsearch [config]="config">
    <div class="search-panel">
      <div class="search-panel__filters">
        <ais-clear-refinements></ais-clear-refinements>
        <ais-configure [searchParameters]="{ hitsPerPage: 8 }"></ais-configure>
        <h2>Genres</h2>
        <ais-refinement-list attribute="genres" ></ais-refinement-list>
        <h2>Players</h2>
        <ais-refinement-list attribute="players" ></ais-refinement-list>
        <h2>Platforms</h2>
        <ais-refinement-list attribute="platforms" ></ais-refinement-list>
        <h2>Misc</h2>
        <ais-refinement-list attribute="misc" ></ais-refinement-list>
      </div>

      <div class="search-panel__results">
        <div class="searchbox">
          <ais-search-box placeholder=""></ais-search-box>
        </div>

        <ais-hits>
          <ng-template let-hits="hits">
            <div *ngIf="hits.length === 0">
              No results found matching <strong></strong>.
            </div>
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <img src="{{hit.image}}" alt="{{hit.name}}" align="left" />
                <div class="hit-name">
                  <ais-highlight attribute="name" [hit]="hit"></ais-highlight>
                </div>
                <div class="hit-description">
                  <ais-highlight attribute="description" [hit]="hit"></ais-highlight>
                </div>
                <div class="hit-price">${{hit.price}}</div>
              </li>
            </ol>
          </ng-template>
        </ais-hits>

        <div class="pagination">
          <ais-pagination></ais-pagination>
        </div>
      </div>

    </div>
  </ais-instantsearch>
</div>
