name: Release

on:
  push:
    branches:
      - main
      - "pre-release-beta/**"
      - "beta/**"
      - "prototype-beta/**"

permissions:
  contents: write # Required for changesets to create PRs and tags
  id-token: write # Required for npm OIDC authentication

jobs:
  release:
    name: Release & Version
    runs-on: ubuntu-latest
    outputs:
      hasChangesets: ${{ steps.changesets.outputs.hasChangesets }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
      - name: Install dependencies
        run: yarn install
      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        with:
          publish: false
          version: yarn version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.MEILI_BOT_GH_PAT }}

  publish-npm:
    name: Publish to npm (OIDC)
    needs: release
    # Only run if Changesets indicates there are packages to publish
    if: needs.release.outputs.hasChangesets == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
          registry-url: "https://registry.npmjs.org"
      - name: Upgrade npm for OIDC
        run: npm install -g npm@latest
      - name: Install dependencies
        run: yarn install
      - name: Build packages
        run: yarn build
      - name: Publish packages
        # No NPM_TOKEN env here - uses OIDC token from id-token: write permission
        run: yarn changeset publish
