name: Release

on:
  push:
    branches:
      - main
      - "pre-release-beta/**"
      - "beta/**"
      - "prototype-beta/**"

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  version-packages:
    name: Version Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: "18.x"
      - name: Install dependencies
        run: yarn
      - name: Create Release Pull Request
        uses: changesets/action@v1
        with:
          publish: false
          version: yarn version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.MEILI_BOT_GH_PAT }}

  publish-packages:
    name: Publish Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v5
        with:
          node-version: "24.x"
      - name: Install dependencies
        run: yarn
      - name: Build packages
        run: yarn build
      - name: Publish to npm
        run: yarn release
