name: Release

on:
  push:
    branches:
      - main
      - 'pre-release-beta/**'
      - 'beta/**'
      - 'prototype-beta/'

jobs:
  publish-npm:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          registry-url: https://registry.npmjs.org/
      - name: Check tag format
        run: sh .github/scripts/check-tag-format.sh
      - name: Install dependencies
        run: yarn
      # add an if condition that exit pre-release mode when pushing on main
      - name: Create Beta Release Pull Request or Publish to npm
        if: contains(github.ref, 'beta')
        uses: changesets/action@v1
        with:
          # https://github.com/changesets/changesets/blob/main/docs/prereleases.md
          # https://github.com/changesets/changesets/blob/main/docs/command-line-options.md#publish
          publish: yarn beta-release
          version: yarn version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Create Release Pull Request or Publish to npm
        if: contains(github.ref, 'beta') == false
        uses: changesets/action@v1
        with:
          publish: yarn release
          version: yarn version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
