name: Release

on:
  push:
    branches:
      - main
      - "pre-release-beta/**"
      - "beta/**"
      - "prototype-beta/**"

permissions:
  contents: write # Required for changesets to create PRs and tags
  id-token: write # Required for npm OIDC authentication

jobs:
  release:
    name: Release & Version
    runs-on: ubuntu-latest
    outputs:
      hasChangesets: ${{ steps.changesets.outputs.hasChangesets }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/set-up-node
        with:
          registry-url: "https://registry.npmjs.org"
      - name: Create Release Pull Request
        id: changesets
        uses: changesets/action@v1
        with:
          # Omit 'publish' entirely to skip publishing in this job
          version: pnpm version-packages
        env:
          GITHUB_TOKEN: ${{ secrets.MEILI_BOT_GH_PAT }}

  publish-npm:
    name: Publish to npm (OIDC)
    needs: release
    # Only run when there are NO changesets (i.e. the version PR was merged)
    if: needs.release.outputs.hasChangesets == 'false'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/set-up-node
        with:
          registry-url: "https://registry.npmjs.org"
      - name: Build packages
        run: pnpm build
      - name: Publish packages
        run: pnpm changeset publish
